@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
body {
  background: none; }

body {
  font-size: 14px;
  line-height: 1.6em;
  color: #6c727e;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal; }

h2 {
  font-size: 2em;
  color: #814A9D; }

h3 {
  font-size: 1.5em;
  display: block;
  border-bottom: 1px solid #d8dade;
  padding-bottom: 20px; }

h4 {
  font-size: 1.17em; }

code {
  font-size: 12px;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 1.2em; }

pre {
  font-size: 12px;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 1.6em; }

a {
  color: #814A9D; }
  a:hover {
    text-decoration: none; }

a.but {
  width: auto;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  background: #9499a3;
  color: #FFFFFF;
  padding: 0 12px;
  text-decoration: none; }

a.but.but-primary {
  background: #814A9D; }

a.but.but-secondary {
  background: #FDD454; }

a.but.but-ghost {
  background: none;
  border: 2px solid #9499a3;
  color: #9499a3;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a.but.but-ghost.but-primary {
  background: none;
  border: 2px solid #9499a3;
  color: #9499a3;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #814A9D;
  color: #814A9D; }

a.but.but-ghost.but-secondary {
  background: none;
  border: 2px solid #9499a3;
  color: #9499a3;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #FDD454;
  color: #FDD454; }

ul, ol {
  padding: 0 0 0 28px; }
  ul ul, ol ul {
    padding: 0 0 0 28px; }

ul.icons {
  list-style: none; }
  ul.icons li {
    position: relative; }
    ul.icons li i {
      position: absolute;
      left: -24px;
      top: 50%;
      transform: translate(0, -50%); }

ul.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  ul.accordion li {
    margin-bottom: 2px; }
    ul.accordion li div.bar {
      width: 100%;
      height: auto;
      padding: 14px 34px 14px 20px;
      margin: 0;
      position: relative;
      cursor: pointer;
      line-height: normal;
      background: #494d55;
      color: #FFFFFF;
      border: 1px solid #494d55;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
      ul.accordion li div.bar span {
        display: inline; }
      ul.accordion li div.bar:after {
        content: '\f067';
        font-family: 'FontAwesome';
        position: absolute;
        right: 20px;
        top: calc(50% - 5px);
        height: 16px;
        color: #FFFFFF;
        font-size: 14px; }
    ul.accordion li div.itemContents {
      display: none;
      width: 100%;
      padding: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
  ul.accordion li.is-expanded div.bar {
    color: #814A9D;
    background: #FFFFFF;
    border: 1px solid #814A9D; }
    ul.accordion li.is-expanded div.bar:after {
      content: '\f068';
      color: #814A9D; }
  ul.accordion li.is-expanded div.itemContents {
    display: block; }

ul.tabber {
  list-style: none;
  width: 100%;
  margin: 0;
  float: left;
  padding: 0;
  border-bottom: 1px solid #6c727e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  ul.tabber li {
    float: left;
    border-top: 1px solid #6c727e;
    border-right: 1px solid #6c727e;
    padding: 0 12px;
    height: 31px;
    line-height: 31px;
    background: #9499a3; }
    ul.tabber li:first-child {
      border-left: 1px solid #6c727e; }
    ul.tabber li:hover {
      color: #FFFFFF;
      background: #494d55;
      cursor: pointer; }
  ul.tabber li.open {
    color: #FFFFFF;
    background: #814A9D; }

ul.tabberContent {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #6c727e;
  border-top: none;
  float: left; }
  ul.tabberContent li {
    padding: 12px;
    float: left;
    display: none;
    margin: 0; }
    ul.tabberContent li p {
      margin: 0; }
  ul.tabberContent li.open {
    display: block; }

.center-hori {
  position: relative; }
  .center-hori > div,
  .center-hori > i,
  .center-hori > a,
  .center-hori > p,
  .center-hori > span,
  .center-hori > img {
    display: block;
    margin: 0;
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.center-vert {
  position: relative; }
  .center-vert > div,
  .center-vert > i,
  .center-vert > a,
  .center-vert > p,
  .center-vert > span,
  .center-vert > img {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.center-both {
  position: relative; }
  .center-both > div,
  .center-both > i,
  .center-both > a,
  .center-both > p,
  .center-both > span,
  .center-both > img {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.rw-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  float: left;
  clear: left;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .rw-container .rw-row {
    width: 100%;
    float: left; }
    .rw-container .rw-row .rw-col {
      float: left;
      margin: 0 calc(20px/ 2);
      width: calc(100% - 20px); }
    .rw-container .rw-row .rw-col-nest {
      padding: 0 calc(20px/ 2);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

.rw-container-has-sidebar,
.rw-container-has-sidebar-both {
  padding: 0 !important; }
  .rw-container-has-sidebar .rw-content,
  .rw-container-has-sidebar-both .rw-content {
    width: 100%;
    float: left;
    background: none;
    padding: 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .rw-container-has-sidebar .rw-sidebar,
  .rw-container-has-sidebar-both .rw-sidebar {
    width: 100%;
    float: left;
    background: none;
    padding: 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.rw-header.remove_this {
  position: relative;
  z-index: 0; }
  .rw-header.remove_this .rw-container {
    background: #814A9D !important; }
    .rw-header.remove_this .rw-container .rw-col img {
      margin: 100px auto;
      width: 100%;
      max-width: 400px;
      height: auto;
      display: block; }

ul.media-query {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.media-query li {
    background: rgba(255, 255, 255, 0.5);
    height: 30px;
    line-height: 30px;
    padding: 0 14px; }
  ul.media-query li.media-fea, ul.media-query li.media-sma, ul.media-query li.media-tab, ul.media-query li.media-des, ul.media-query li.media-lar {
    display: none; }
  @media (min-width: 320px) {
    ul.media-query li.default, ul.media-query li.media-sma, ul.media-query li.media-tab, ul.media-query li.media-des, ul.media-query li.media-lar {
      display: none; }
    ul.media-query li.media-fea {
      display: block; } }
  @media (min-width: 480px) {
    ul.media-query li.default, ul.media-query li.media-fea, ul.media-query li.media-tab, ul.media-query li.media-des, ul.media-query li.media-lar {
      display: none; }
    ul.media-query li.media-sma {
      display: block; } }
  @media (min-width: 768px) {
    ul.media-query li.default, ul.media-query li.media-fea, ul.media-query li.media-sma, ul.media-query li.media-des, ul.media-query li.media-lar {
      display: none; }
    ul.media-query li.media-tab {
      display: block; } }
  @media (min-width: 960px) {
    ul.media-query li.default, ul.media-query li.media-fea, ul.media-query li.media-sma, ul.media-query li.media-tab, ul.media-query li.media-lar {
      display: none; }
    ul.media-query li.media-des {
      display: block; } }
  @media (min-width: 1200px) {
    ul.media-query li.default, ul.media-query li.media-fea, ul.media-query li.media-sma, ul.media-query li.media-tab, ul.media-query li.media-des {
      display: none; }
    ul.media-query li.media-lar {
      display: block; } }

.rw-container.remove_this {
  background: #FFFFFF;
  padding: 20px;
  z-index: 0;
  position: relative; }
  .rw-container.remove_this .rw-row .rw-col {
    background: #9499a3;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: calc(20px/ 2);
    margin-bottom: calc(20px/ 2);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
  .rw-container.remove_this .rw-row .rw-col-nest {
    padding: calc(20px/ 2);
    height: auto; }
    .rw-container.remove_this .rw-row .rw-col-nest .rw-row .rw-col {
      background: #494d55;
      color: #FFFFFF; }
  .rw-container.remove_this .rw-row:nth-child(even) .rw-col {
    background: #6c727e; }

.rw-container-has-sidebar.remove_this .rw-row .rw-col, .rw-container-has-sidebar-both.remove_this .rw-row .rw-col {
  background: #814A9D;
  color: #FFFFFF; }

.rw-container-has-sidebar.remove_this .rw-row:nth-child(even) .rw-col, .rw-container-has-sidebar-both.remove_this .rw-row:nth-child(even) .rw-col {
  background: #653a7a; }

@media (min-width: 320px) {
  .rw-container .rw-row .rw-col-fea-1 {
    width: calc(8.333333% - 20px); }
  .rw-container .rw-row .rw-col-fea-2 {
    width: calc(16.666667% - 20px); }
  .rw-container .rw-row .rw-col-fea-3 {
    width: calc(25% - 20px); }
  .rw-container .rw-row .rw-col-fea-4 {
    width: calc(33.333333% - 20px); }
  .rw-container .rw-row .rw-col-fea-5 {
    width: calc(41.666667% - 20px); }
  .rw-container .rw-row .rw-col-fea-6 {
    width: calc(50% - 20px); }
  .rw-container .rw-row .rw-col-fea-7 {
    width: calc(58.333333% - 20px); }
  .rw-container .rw-row .rw-col-fea-8 {
    width: calc(66.666667% - 20px); }
  .rw-container .rw-row .rw-col-fea-9 {
    width: calc(75% - 20px); }
  .rw-container .rw-row .rw-col-fea-10 {
    width: calc(83.333333% - 20px); }
  .rw-container .rw-row .rw-col-fea-11 {
    width: calc(91.666667% - 20px); }
  .rw-container .rw-row .rw-col-fea-12 {
    width: calc(100% - 20px); } }

@media (min-width: 480px) {
  .rw-container {
    width: 440px;
    left: 50%;
    margin-left: -220px; }
    .rw-container .rw-row .rw-col-sma-1 {
      width: calc(8.333333% - 20px); }
    .rw-container .rw-row .rw-col-sma-2 {
      width: calc(16.666667% - 20px); }
    .rw-container .rw-row .rw-col-sma-3 {
      width: calc(25% - 20px); }
    .rw-container .rw-row .rw-col-sma-4 {
      width: calc(33.333333% - 20px); }
    .rw-container .rw-row .rw-col-sma-5 {
      width: calc(41.666667% - 20px); }
    .rw-container .rw-row .rw-col-sma-6 {
      width: calc(50% - 20px); }
    .rw-container .rw-row .rw-col-sma-7 {
      width: calc(58.333333% - 20px); }
    .rw-container .rw-row .rw-col-sma-8 {
      width: calc(66.666667% - 20px); }
    .rw-container .rw-row .rw-col-sma-9 {
      width: calc(75% - 20px); }
    .rw-container .rw-row .rw-col-sma-10 {
      width: calc(83.333333% - 20px); }
    .rw-container .rw-row .rw-col-sma-11 {
      width: calc(91.666667% - 20px); }
    .rw-container .rw-row .rw-col-sma-12 {
      width: calc(100% - 20px); }
  .rw-container-fluid {
    width: 100% !important;
    margin-left: -50% !important; } }

@media (min-width: 768px) {
  .rw-container {
    width: 728px;
    margin-left: -364px; }
    .rw-container .rw-row .rw-col-tab-1 {
      width: calc(8.333333% - 20px); }
    .rw-container .rw-row .rw-col-tab-2 {
      width: calc(16.666667% - 20px); }
    .rw-container .rw-row .rw-col-tab-3 {
      width: calc(25% - 20px); }
    .rw-container .rw-row .rw-col-tab-4 {
      width: calc(33.333333% - 20px); }
    .rw-container .rw-row .rw-col-tab-5 {
      width: calc(41.666667% - 20px); }
    .rw-container .rw-row .rw-col-tab-6 {
      width: calc(50% - 20px); }
    .rw-container .rw-row .rw-col-tab-7 {
      width: calc(58.333333% - 20px); }
    .rw-container .rw-row .rw-col-tab-8 {
      width: calc(66.666667% - 20px); }
    .rw-container .rw-row .rw-col-tab-9 {
      width: calc(75% - 20px); }
    .rw-container .rw-row .rw-col-tab-10 {
      width: calc(83.333333% - 20px); }
    .rw-container .rw-row .rw-col-tab-11 {
      width: calc(91.666667% - 20px); }
    .rw-container .rw-row .rw-col-tab-12 {
      width: calc(100% - 20px); }
  .rw-container-has-sidebar .rw-content,
  .rw-container-has-sidebar-both .rw-content {
    width: calc(100% - 200px); }
  .rw-container-has-sidebar .rw-content-left,
  .rw-container-has-sidebar-both .rw-content-left {
    padding: 20px calc(20px / 2) 20px 20px; }
  .rw-container-has-sidebar .rw-content-right,
  .rw-container-has-sidebar-both .rw-content-right {
    padding: 20px 20px 20px calc(20px / 2); }
  .rw-container-has-sidebar .rw-content-middle,
  .rw-container-has-sidebar-both .rw-content-middle {
    width: calc(100% - 200px * 2);
    padding: 20px calc(20px / 2) 20px 20px; }
  .rw-container-has-sidebar .rw-sidebar,
  .rw-container-has-sidebar-both .rw-sidebar {
    width: 200px; }
  .rw-container-has-sidebar .rw-sidebar-left,
  .rw-container-has-sidebar-both .rw-sidebar-left {
    padding: 20px calc(20px / 2) 20px 20px; }
  .rw-container-has-sidebar .rw-sidebar-right,
  .rw-container-has-sidebar-both .rw-sidebar-right {
    padding: 20px 20px 20px calc(20px / 2); } }

@media (min-width: 960px) {
  .rw-container {
    width: 920px;
    margin-left: -460px; }
    .rw-container .rw-row .rw-col-des-1 {
      width: calc(8.333333% - 20px); }
    .rw-container .rw-row .rw-col-des-2 {
      width: calc(16.666667% - 20px); }
    .rw-container .rw-row .rw-col-des-3 {
      width: calc(25% - 20px); }
    .rw-container .rw-row .rw-col-des-4 {
      width: calc(33.333333% - 20px); }
    .rw-container .rw-row .rw-col-des-5 {
      width: calc(41.666667% - 20px); }
    .rw-container .rw-row .rw-col-des-6 {
      width: calc(50% - 20px); }
    .rw-container .rw-row .rw-col-des-7 {
      width: calc(58.333333% - 20px); }
    .rw-container .rw-row .rw-col-des-8 {
      width: calc(66.666667% - 20px); }
    .rw-container .rw-row .rw-col-des-9 {
      width: calc(75% - 20px); }
    .rw-container .rw-row .rw-col-des-10 {
      width: calc(83.333333% - 20px); }
    .rw-container .rw-row .rw-col-des-11 {
      width: calc(91.666667% - 20px); }
    .rw-container .rw-row .rw-col-des-12 {
      width: calc(100% - 20px); }
  .rw-container-has-sidebar .rw-content,
  .rw-container-has-sidebar-both .rw-content {
    width: calc(100% - 300px); }
  .rw-container-has-sidebar .rw-content-middle,
  .rw-container-has-sidebar-both .rw-content-middle {
    width: calc(100% - 300px * 2); }
  .rw-container-has-sidebar .rw-sidebar,
  .rw-container-has-sidebar-both .rw-sidebar {
    width: 300px; } }

@media (min-width: 1200px) {
  .rw-container {
    width: 1160px;
    margin-left: -580px; }
    .rw-container .rw-row .rw-col-lar-1 {
      width: calc(8.333333% - 20px); }
    .rw-container .rw-row .rw-col-lar-2 {
      width: calc(16.666667% - 20px); }
    .rw-container .rw-row .rw-col-lar-3 {
      width: calc(25% - 20px); }
    .rw-container .rw-row .rw-col-lar-4 {
      width: calc(33.333333% - 20px); }
    .rw-container .rw-row .rw-col-lar-5 {
      width: calc(41.666667% - 20px); }
    .rw-container .rw-row .rw-col-lar-6 {
      width: calc(50% - 20px); }
    .rw-container .rw-row .rw-col-lar-7 {
      width: calc(58.333333% - 20px); }
    .rw-container .rw-row .rw-col-lar-8 {
      width: calc(66.666667% - 20px); }
    .rw-container .rw-row .rw-col-lar-9 {
      width: calc(75% - 20px); }
    .rw-container .rw-row .rw-col-lar-10 {
      width: calc(83.333333% - 20px); }
    .rw-container .rw-row .rw-col-lar-11 {
      width: calc(91.666667% - 20px); }
    .rw-container .rw-row .rw-col-lar-12 {
      width: calc(100% - 20px); }
  .rw-container-fluid.rw-container-set {
    margin-left: -580px !important; }
  .rw-container-set {
    width: 1160px !important; } }

header#header {
  position: relative;
  z-index: 1;
  width: 100%;
  float: left;
  background: #494d55;
  height: 110px;
  border-top: 6px solid #FDD454;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  header#header .rw-container {
    background: none;
    position: relative;
    padding: 0; }
    header#header .rw-container .logo {
      width: 100px;
      height: calc(110px - 6px);
      float: left; }
      header#header .rw-container .logo img {
        width: 100%;
        height: auto;
        display: block; }
    header#header .rw-container h1.title {
      float: left;
      color: #FFFFFF;
      font-size: 22px;
      text-transform: uppercase;
      height: calc(110px - 6px);
      line-height: calc(110px - 11px);
      margin: 0 0 0 6px;
      font-family: "Open Sans";
      font-weight: 800;
      font-style: normal; }

nav#nav {
  position: relative;
  top: 0; }
  nav#nav > ul {
    padding: 0; }
    nav#nav > ul > li {
      list-style: none; }
      nav#nav > ul > li > a {
        color: #6c727e;
        text-decoration: none;
        border-left: 4px solid #FFFFFF;
        padding-left: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      nav#nav > ul > li:hover > a {
        color: #814A9D;
        border-color: #814A9D; }
    nav#nav > ul ul {
      padding: 0 0 0 28px; }
      nav#nav > ul ul li {
        list-style: none; }
        nav#nav > ul ul li a {
          color: #6c727e;
          font-size: 12px;
          border: none;
          padding-left: 0;
          text-decoration: none; }
          nav#nav > ul ul li a:hover {
            color: #814A9D; }

nav#nav.stick {
  position: fixed; }

.sub-article-block {
  width: 100%;
  float: left; }

#folder-structure .rw-col {
  margin-left: 0;
  margin-right: 20px; }
