@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
body {
  background: #d8dade; }

body {
  font-size: 14px;
  line-height: 1.6em;
  color: #6c727e;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal; }

h2 {
  font-size: 2em;
  color: #814A9D;
  width: 100%;
  float: left;
  margin-bottom: 0; }

h3 {
  font-size: 1.5em;
  display: block;
  border-bottom: 1px solid #d8dade;
  padding-bottom: 20px; }

h4 {
  font-size: 1.17em; }

code {
  font-size: 12px;
  margin: 0;
  padding: 2px 6px; }

pre {
  font-size: 12px;
  margin: 0; }

.str {
  color: #FDD454; }

.kwd {
  color: #FDD454; }

.com {
  color: #6c727e; }

.typ {
  color: #678CB1; }

.lit {
  color: #FACD22; }

.pun {
  color: #d8dade; }

.pln {
  color: #d8dade; }

.tag {
  color: #814A9D; }

.atn {
  color: #9499a3; }

.atv {
  color: #FDD454; }

.dec {
  color: purple; }

pre.prettyprint {
  border: 0px solid #888; }

ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

.prettyprint {
  background: #25272c; }

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  color: #555;
  list-style-type: decimal; }

li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #111; }

a {
  color: #814A9D; }
  a:hover {
    text-decoration: none; }

a.but {
  width: auto;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  background: #9499a3;
  color: #FFFFFF;
  padding: 0 12px;
  text-decoration: none; }

a.but.but-primary {
  background: #814A9D; }

a.but.but-secondary {
  background: #FDD454; }

a.but.but-ghost {
  background: none;
  border: 2px solid #9499a3;
  color: #9499a3;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a.but.but-ghost.but-primary {
  background: none;
  border: 2px solid #9499a3;
  color: #9499a3;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #814A9D;
  color: #814A9D; }

a.but.but-ghost.but-secondary {
  background: none;
  border: 2px solid #9499a3;
  color: #9499a3;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #FDD454;
  color: #FDD454; }

ul, ol {
  padding: 0 0 0 28px; }
  ul ul, ol ul {
    padding: 0 0 0 28px; }

ul.icons {
  list-style: none; }
  ul.icons li {
    position: relative; }
    ul.icons li i {
      position: absolute;
      left: -24px;
      top: 50%;
      transform: translate(0, -50%); }

ul.jaccordion {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  ul.jaccordion li {
    margin-bottom: 2px; }
    ul.jaccordion li div.bar {
      width: 100%;
      height: auto;
      padding: 14px 34px 14px 20px;
      margin: 0;
      position: relative;
      cursor: pointer;
      line-height: normal;
      background: #494d55;
      color: #FFFFFF;
      border: 1px solid #494d55;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
      ul.jaccordion li div.bar span {
        display: inline; }
      ul.jaccordion li div.bar:after {
        content: '\f067';
        font-family: 'FontAwesome';
        position: absolute;
        right: 20px;
        top: calc(50% - 5px);
        height: 16px;
        color: #FFFFFF;
        font-size: 14px; }
    ul.jaccordion li div.itemContents {
      display: none;
      width: 100%;
      padding: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
  ul.jaccordion li.is-expanded div.bar {
    color: #814A9D;
    background: #FFFFFF;
    border: 1px solid #814A9D; }
    ul.jaccordion li.is-expanded div.bar:after {
      content: '\f068';
      color: #814A9D; }
  ul.jaccordion li.is-expanded div.itemContents {
    display: block; }

ul.jtabber {
  list-style: none;
  width: 100%;
  margin: 0;
  float: left;
  padding: 0;
  border-bottom: 1px solid #25272c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  ul.jtabber li {
    float: left;
    border-top: 1px solid #25272c;
    border-right: 1px solid #25272c;
    padding: 0 12px;
    height: 31px;
    line-height: 31px;
    background: #494d55;
    color: #FFFFFF; }
    ul.jtabber li:first-child {
      border-left: 1px solid #25272c; }
    ul.jtabber li:hover {
      background: #494d55;
      cursor: pointer; }
  ul.jtabber li.open {
    background: #814A9D; }

ul.jtabberContent {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #25272c;
  border-top: none;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  ul.jtabberContent li {
    padding: 12px;
    float: left;
    display: none;
    margin: 0; }
    ul.jtabberContent li p {
      margin: 0; }
  ul.jtabberContent li.open {
    display: block; }

.center-hori {
  position: relative; }
  .center-hori > div,
  .center-hori > i,
  .center-hori > a,
  .center-hori > p,
  .center-hori > span,
  .center-hori > img {
    display: block;
    margin: 0;
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.center-vert {
  position: relative; }
  .center-vert > div,
  .center-vert > i,
  .center-vert > a,
  .center-vert > p,
  .center-vert > span,
  .center-vert > img {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.center-both {
  position: relative; }
  .center-both > div,
  .center-both > i,
  .center-both > a,
  .center-both > p,
  .center-both > span,
  .center-both > img {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.jcontainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  float: left;
  clear: left;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .jcontainer .jrow {
    width: 100%;
    float: left; }
    .jcontainer .jrow .jcol {
      float: left;
      margin: 0 calc(20px/ 2);
      width: calc(100% - 20px); }
    .jcontainer .jrow .jcol-nest {
      padding: 0 calc(20px/ 2);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

.jcontainer-has-sidebar,
.jcontainer-has-sidebar-both {
  padding: 0 !important; }
  .jcontainer-has-sidebar .jcontent,
  .jcontainer-has-sidebar-both .jcontent {
    width: 100%;
    float: left;
    background: none;
    padding: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .jcontainer-has-sidebar .jsidebar,
  .jcontainer-has-sidebar-both .jsidebar {
    width: 100%;
    float: left;
    background: #f4f4f5;
    padding: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.jheader.remove_this {
  position: relative;
  z-index: 0; }
  .jheader.remove_this .jcontainer {
    background: #814A9D !important; }
    .jheader.remove_this .jcontainer .jcol img {
      margin: 100px auto;
      width: 100%;
      max-width: 400px;
      height: auto;
      display: block; }

.jcontainer.remove_this {
  background: #FFFFFF;
  padding: 10px 0;
  z-index: 0;
  position: relative; }
  .jcontainer.remove_this .jrow .jcol {
    background: #9499a3;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: calc(20px/ 2);
    margin-bottom: calc(20px/ 2);
    color: #FFFFFF;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
  .jcontainer.remove_this .jrow .jcol-nest {
    padding: calc(20px/ 2);
    height: auto; }
    .jcontainer.remove_this .jrow .jcol-nest .jrow .jcol {
      background: #494d55;
      color: #FFFFFF; }
  .jcontainer.remove_this .jrow:nth-child(even) .jcol {
    background: #6c727e; }
  .jcontainer.remove_this .jrow.equalize .jcol {
    text-align: left !important; }

.jcontainer-has-sidebar.remove_this .jrow .jcol, .jcontainer-has-sidebar-both.remove_this .jrow .jcol {
  background: #814A9D;
  color: #FFFFFF; }

.jcontainer-has-sidebar.remove_this .jrow:nth-child(even) .jcol, .jcontainer-has-sidebar-both.remove_this .jrow:nth-child(even) .jcol {
  background: #653a7a; }

@media (min-width: 320px) {
  .jcontainer .jrow .jcol-fea-1 {
    width: calc(8.333333% - 20px); }
  .jcontainer .jrow .jcol-fea-2 {
    width: calc(16.666667% - 20px); }
  .jcontainer .jrow .jcol-fea-3 {
    width: calc(25% - 20px); }
  .jcontainer .jrow .jcol-fea-4 {
    width: calc(33.333333% - 20px); }
  .jcontainer .jrow .jcol-fea-5 {
    width: calc(41.666667% - 20px); }
  .jcontainer .jrow .jcol-fea-6 {
    width: calc(50% - 20px); }
  .jcontainer .jrow .jcol-fea-7 {
    width: calc(58.333333% - 20px); }
  .jcontainer .jrow .jcol-fea-8 {
    width: calc(66.666667% - 20px); }
  .jcontainer .jrow .jcol-fea-9 {
    width: calc(75% - 20px); }
  .jcontainer .jrow .jcol-fea-10 {
    width: calc(83.333333% - 20px); }
  .jcontainer .jrow .jcol-fea-11 {
    width: calc(91.666667% - 20px); }
  .jcontainer .jrow .jcol-fea-12 {
    width: calc(100% - 20px); } }

@media (min-width: 480px) {
  .jcontainer {
    width: 440px;
    left: 50%;
    margin-left: -220px; }
    .jcontainer .jrow .jcol-sma-1 {
      width: calc(8.333333% - 20px); }
    .jcontainer .jrow .jcol-sma-2 {
      width: calc(16.666667% - 20px); }
    .jcontainer .jrow .jcol-sma-3 {
      width: calc(25% - 20px); }
    .jcontainer .jrow .jcol-sma-4 {
      width: calc(33.333333% - 20px); }
    .jcontainer .jrow .jcol-sma-5 {
      width: calc(41.666667% - 20px); }
    .jcontainer .jrow .jcol-sma-6 {
      width: calc(50% - 20px); }
    .jcontainer .jrow .jcol-sma-7 {
      width: calc(58.333333% - 20px); }
    .jcontainer .jrow .jcol-sma-8 {
      width: calc(66.666667% - 20px); }
    .jcontainer .jrow .jcol-sma-9 {
      width: calc(75% - 20px); }
    .jcontainer .jrow .jcol-sma-10 {
      width: calc(83.333333% - 20px); }
    .jcontainer .jrow .jcol-sma-11 {
      width: calc(91.666667% - 20px); }
    .jcontainer .jrow .jcol-sma-12 {
      width: calc(100% - 20px); }
  .jcontainer-fluid {
    width: 100% !important;
    margin-left: -50% !important; } }

@media (min-width: 768px) {
  .jcontainer {
    width: 728px;
    margin-left: -364px; }
    .jcontainer .jrow .jcol-tab-1 {
      width: calc(8.333333% - 20px); }
    .jcontainer .jrow .jcol-tab-2 {
      width: calc(16.666667% - 20px); }
    .jcontainer .jrow .jcol-tab-3 {
      width: calc(25% - 20px); }
    .jcontainer .jrow .jcol-tab-4 {
      width: calc(33.333333% - 20px); }
    .jcontainer .jrow .jcol-tab-5 {
      width: calc(41.666667% - 20px); }
    .jcontainer .jrow .jcol-tab-6 {
      width: calc(50% - 20px); }
    .jcontainer .jrow .jcol-tab-7 {
      width: calc(58.333333% - 20px); }
    .jcontainer .jrow .jcol-tab-8 {
      width: calc(66.666667% - 20px); }
    .jcontainer .jrow .jcol-tab-9 {
      width: calc(75% - 20px); }
    .jcontainer .jrow .jcol-tab-10 {
      width: calc(83.333333% - 20px); }
    .jcontainer .jrow .jcol-tab-11 {
      width: calc(91.666667% - 20px); }
    .jcontainer .jrow .jcol-tab-12 {
      width: calc(100% - 20px); }
  .jcontainer-has-sidebar .jcontent,
  .jcontainer-has-sidebar-both .jcontent {
    width: calc(100% - 260px); }
  .jcontainer-has-sidebar .jcontent-left,
  .jcontainer-has-sidebar-both .jcontent-left {
    padding: 10px calc(10px / 2) 10px 10px; }
  .jcontainer-has-sidebar .jcontent-right,
  .jcontainer-has-sidebar-both .jcontent-right {
    padding: 10px 10px 10px calc(10px / 2); }
  .jcontainer-has-sidebar .jcontent-middle,
  .jcontainer-has-sidebar-both .jcontent-middle {
    width: calc(100% - 260px * 2);
    padding: 10px calc(10px / 2) 10px 10px; }
  .jcontainer-has-sidebar .jsidebar,
  .jcontainer-has-sidebar-both .jsidebar {
    width: 260px; }
  .jcontainer-has-sidebar .jsidebar-left,
  .jcontainer-has-sidebar-both .jsidebar-left {
    padding: 10px calc(10px / 2) 10px 10px; }
  .jcontainer-has-sidebar .jsidebar-right,
  .jcontainer-has-sidebar-both .jsidebar-right {
    padding: 10px 10px 10px calc(10px / 2); } }

@media (min-width: 960px) {
  .jcontainer {
    width: 920px;
    margin-left: -460px; }
    .jcontainer .jrow .jcol-des-1 {
      width: calc(8.333333% - 20px); }
    .jcontainer .jrow .jcol-des-2 {
      width: calc(16.666667% - 20px); }
    .jcontainer .jrow .jcol-des-3 {
      width: calc(25% - 20px); }
    .jcontainer .jrow .jcol-des-4 {
      width: calc(33.333333% - 20px); }
    .jcontainer .jrow .jcol-des-5 {
      width: calc(41.666667% - 20px); }
    .jcontainer .jrow .jcol-des-6 {
      width: calc(50% - 20px); }
    .jcontainer .jrow .jcol-des-7 {
      width: calc(58.333333% - 20px); }
    .jcontainer .jrow .jcol-des-8 {
      width: calc(66.666667% - 20px); }
    .jcontainer .jrow .jcol-des-9 {
      width: calc(75% - 20px); }
    .jcontainer .jrow .jcol-des-10 {
      width: calc(83.333333% - 20px); }
    .jcontainer .jrow .jcol-des-11 {
      width: calc(91.666667% - 20px); }
    .jcontainer .jrow .jcol-des-12 {
      width: calc(100% - 20px); }
  .jcontainer-has-sidebar .jcontent,
  .jcontainer-has-sidebar-both .jcontent {
    width: calc(100% - 260px); }
  .jcontainer-has-sidebar .jcontent-middle,
  .jcontainer-has-sidebar-both .jcontent-middle {
    width: calc(100% - 260px * 2); }
  .jcontainer-has-sidebar .jsidebar,
  .jcontainer-has-sidebar-both .jsidebar {
    width: 260px; } }

@media (min-width: 1200px) {
  .jcontainer {
    width: 1160px;
    margin-left: -580px; }
    .jcontainer .jrow .jcol-lar-1 {
      width: calc(8.333333% - 20px); }
    .jcontainer .jrow .jcol-lar-2 {
      width: calc(16.666667% - 20px); }
    .jcontainer .jrow .jcol-lar-3 {
      width: calc(25% - 20px); }
    .jcontainer .jrow .jcol-lar-4 {
      width: calc(33.333333% - 20px); }
    .jcontainer .jrow .jcol-lar-5 {
      width: calc(41.666667% - 20px); }
    .jcontainer .jrow .jcol-lar-6 {
      width: calc(50% - 20px); }
    .jcontainer .jrow .jcol-lar-7 {
      width: calc(58.333333% - 20px); }
    .jcontainer .jrow .jcol-lar-8 {
      width: calc(66.666667% - 20px); }
    .jcontainer .jrow .jcol-lar-9 {
      width: calc(75% - 20px); }
    .jcontainer .jrow .jcol-lar-10 {
      width: calc(83.333333% - 20px); }
    .jcontainer .jrow .jcol-lar-11 {
      width: calc(91.666667% - 20px); }
    .jcontainer .jrow .jcol-lar-12 {
      width: calc(100% - 20px); }
  .jcontainer-fluid.jcontainer-set {
    margin-left: -580px !important; }
  .jcontainer-set {
    width: 1160px !important; } }

.page-wrapper {
  margin: 20px;
  width: calc(100% - 40px);
  background: #FFFFFF;
  float: left;
  border: 1px solid #cbcdd2;
  overflow: hidden;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 10px 1px #cbcdd2;
  -webkit-box-shadow: 0 0 10px 1px #cbcdd2;
  box-shadow: 0 0 10px 1px #cbcdd2; }

section.section {
  width: 100%;
  float: left; }

header#page-header {
  position: relative;
  z-index: 1;
  width: 100%;
  float: left;
  height: 60px; }
  header#page-header .jcontainer {
    background: none;
    position: relative;
    padding-top: 0; }
    header#page-header .jcontainer .logo {
      width: 66px;
      height: 60px;
      float: left; }
      header#page-header .jcontainer .logo img {
        width: 100%;
        height: auto;
        display: block; }
    header#page-header .jcontainer h6.version {
      float: left;
      font-size: 12px;
      height: 60px;
      line-height: calc(60px - 3px);
      margin: 0 0 0 6px;
      font-family: "Open Sans";
      font-weight: 500;
      font-style: normal; }

.title {
  background: #814A9D;
  width: 100%;
  float: left; }
  .title h1 {
    color: #FFFFFF;
    margin: 0;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal; }

nav#nav {
  position: relative;
  top: 0;
  padding-top: 10px;
  width: calc(260px - 10px - 20px - 10px); }
  nav#nav ul {
    margin: 0;
    padding: 0; }
    nav#nav ul li {
      list-style: none;
      font-size: 14px; }
      nav#nav ul li a {
        display: block;
        width: 100%;
        text-decoration: none;
        padding: 0 10px 0 0;
        line-height: 28px;
        background: #f4f4f5;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
        nav#nav ul li a:hover {
          color: #FDD454;
          padding: 0 5px; }
      nav#nav ul li a.active {
        background: #814A9D;
        color: #FFFFFF;
        padding: 0 5px; }
      nav#nav ul li ul li {
        font-size: 12px; }
        nav#nav ul li ul li a:hover {
          padding: 0 10px; }
        nav#nav ul li ul li a.active {
          padding: 0 10px; }
    nav#nav ul li.heading {
      margin: 10px 0 4px 0;
      font-size: 16px; }

nav#nav.stick {
  position: fixed; }
